version: "2.0"
services:

  rolodexbackend:
    container_name: "rolodexbackend"
    build: .
    ports:
      - "7080:80"
    volumes:
      - "/opt/projects/rolodex/backend:/app"

  rolodexfrontend:
    container_name: "rolodexfrontend"
    image: node
    command: "/app/runincontainer.sh"
    working_dir: /app
    ports:
      - "7090:5173"
    volumes:
      - "/opt/projects/rolodex/frontend:/app"
